.historyMainContainer {
  height: 100vh;
  width: 100vw;
  background-image: url("/public/bgHero.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  overflow-x: hidden;
}

.historyMainContainer h2 {
  color: orange;
  margin: 0;
  padding: 2rem;
  font-size: 1.8rem;
  font-weight: 700;
}

a {
  text-decoration: none;
}
