.homeMainContainer {
  height: 100vh;
  width: 100vw;
  background-image: url("/public/bgHero.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 3rem;
}

.logo h2 {
  color: orange;
  font-size: 1.8rem;
  margin: 0;
}

.navLinks {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.iconBtn p {
  font-size: 1rem !important;
  font-weight: 600;
  margin-right: 0.5rem;
  color: #e6dbdb;
}

.logoutBtn {
  color: #ffffff !important;
  font-weight: 600 !important;
  font-size: 1rem !important;
  background-color: #d32f2f !important;
  border-radius: 10px !important;
}

.meetContainer {
  background-color: rgba(253, 248, 248, 0.4);
  margin: auto;
  padding: 3rem;
  border-radius: 12px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  width: 90%;
  max-width: 500px;
  text-align: center;
}

.homeHeading h2 {
  color: #1b4332;
  font-size: 2rem;
  margin-bottom: 0.5rem;
}

.homeHeading p {
  color: #555;
  font-size: 1rem;
  margin-bottom: 2rem;
  line-height: 1.5;
}

/* Input Area */
.actionSection {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.label {
  color: #333;
  font-weight: 500;
  margin: 0;
}

.inputGroup {
  display: flex;
  gap: 10px;
  align-items: center;
}

.joinBtn {
  background-color: orange !important;
  height: 40px;
}

.helperText {
  font-size: 0.95rem;
  color: #ffffff;
  margin-top: 0.5rem;
}

@media (max-width: 600px) {
  .navbar {
    padding: 1rem;
  }
  .meetContainer {
    padding: 2rem 1.5rem;
  }
}
